@import './base.css';

/* Style devel mode */
/********************/

body {
  max-width: 326px;
  max-height: 715px;
}

[data-theme='dark'] {
  body {
    background: var(--db-primary);
    color: var(--df-primary);
  }
}

[data-theme='light'] {
  body {
    background: var(--lb-primary);
    color: var(--lf-primary);
  }
}
